@use '../../const/colors.scss' as styles;

button {
  font-family: inherit;
  font-weight: 700;
  padding: 0.3em 0.5em;
  font-size: min(0.8em, 3vw);
  border-radius: 5px;
  border-width: 0;
  cursor: pointer;
  transition: all ease-in-out 0.2s;
  color: styles.$font-black-color;

  &:hover {
    background-color: #ffe6b0;
  }
}

button.active {
  background-color: styles.$active-color;
  color: styles.$font-main-color;
}