@use '../../const/colors.scss' as styles;

.tabs__categories-buttons {
  display: flex;
  justify-content:center;
  padding: 1rem;
  flex-wrap: wrap;
  position: sticky;
  top: 11.7dvh;
  z-index: 2;
  background-color: styles.$header-color;
  box-sizing: border-box;

  button:last-child {
    margin-right: 0;
  }

  button {
    margin-right: 0.4rem;
    margin-bottom: 5px;
  }

  
}