@use '../../const/colors.scss' as style;

* {
  font-size: 20px;
  margin: 0;
  padding: 0;
  height: auto;
  box-sizing: border-box;
  color: style.$font-main-color;
}

html {
  width: 100%;
}

body {
  width: 100%;
  display: flex;
  flex-direction: column;
}

#root {
  width: 100%;
}

h2 {
  font-size: 1.8em;
  color: style.$font-black-color;
}

h4 {
  color: style.$font-black-color;
}