@use '../../const/colors.scss' as colors;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: colors.$font-main-color;
}

html {
  width: 100%;
  font-size: 20px;
}

body {
  width: 100%;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

#root {
  width: 100%;
}

h2 {
  font-size: 1.8em;
  color: colors.$font-black-color;
}

h1, h4 {
  color: colors.$font-black-color;
}