* {
  font-size: 20px;
  margin: 0;
  padding: 0;
  height: auto;
}

html {
  width: 100%;
}

body {
  width: 100%;
  display: flex;
  flex-direction: column;
}

#root {
  width: 100%;
}

h2 {
  font-size: 1.5em;
}