@use '../../const/colors.scss' as colors;

.modal__background {
  display: flex;
  justify-content: center;
  position: fixed;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  background-color: rgba($color: #a8a6a3, $alpha: 0.7);
  z-index: 5;
  animation-name: appear;
  animation-duration: 0.5s;

  @keyframes appear {
    from {
      opacity: 0;
    }

    to {
      opacity: 1;
    }
  }

  .coctail__container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 5px;
    opacity: 1;
    background-color: colors.$tile-color;
    font-size: 0.8em;
    height: min(100dvh, 450px);
    width: min(600px, 100vw);
    margin: auto;
    border-radius: 10px;
    box-shadow: 0 5px 20px black;

    & > header {
      display: flex;
      justify-content: space-between;
      flex-grow: 0;

      & button {
        height: 24px;
        width: 24px;
        background-image: url('../../images/close.png');
        background-size: contain;
      }
    }
    

    .coctail__top-info {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: start;
      margin: 10px 0;
      line-height: 16px;
    }

    .coctail__attr {
      padding-left: 8px;
      width: min(350px, 50%);
      position: relative;

      & h4 {
        margin-top: 10px;
      }
    }

    .coctail__image {
      width: min(350px, 50%);

      img {
        width: 100%;
        border-radius: 10px;
      }
    }

    p {
      font-weight: 400;
      font-size: 0.9em;
      color: colors.$font-black-color;

      b {
        font-size: inherit;
        color: colors.$font-black-color;
      }
    }

    .modal__controls {
      display: flex;
      justify-content: space-between;
      flex-direction: row;
      width: 100%;
      position: relative;
      bottom: 0;
    }

    .coctail__description {
      margin-top: 5px;
      overflow-y: auto;
      flex-grow: 1;
    }
  }
}