.branding {
  display: flex;
  height: 100%;
  padding-left: .5vw;
  user-select: none;
  cursor: pointer;
  align-items: center;

  img {
    height: min(30vw, 52px);
  }

  .logo-title {
    display: flex;
    align-items: center;
    font-size: min(4vw, 40px);
  }
}

@media (max-width: 750px) {
  .branding {
    padding: 0;
  }

}