@use '../../const/colors.scss' as styles;

.coctail-item {
  display: flex;
  flex-direction: column;
  min-height: 300px;
  width: 220px;
  margin-bottom: 40px;
  box-sizing: border-box;
  border: 2px solid styles.$header-color;
  border-radius: 10px;
  transition: .3s ease-out;
  cursor: pointer;
  margin-right: 10px;
  background-color: styles.$green-light;
  position: relative;

  &:hover {
    border-color: styles.$active-color;
    background-color: styles.$header-color;
  }

  &:hover img {
    filter: saturate(1);
  }

  .cocktail-item__non-alco-label {
    width: 50px;
    height: 50px;
    background-image: url('../../images/no-alcohol.png');
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    bottom: 10px;
    right: 10px;
    transform: rotate(15deg);
  }

  .coctail__info-tile {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 5px;
    min-height: 2em;
  }

  img {
    height: auto;
    width: auto;
    border-radius: 10px 10px 0 0;
    filter: saturate(0.8);
    transition: filter ease-in-out 0.2s;
  }

  p {
    font-size: 0.8em;
  }
}

@media (max-width: 750px) {
  .coctail-item {
    flex-grow: 1;
  }

  .cocktail-item__non-alco-label {
    z-index: 1;
  }
}