.slider {
  height: 500px;
  width: 100%;
  overflow: hidden;

  .slides {
    transition: .5s ease-out;
    width: 100%;
  }

  li {
    display: inline-block;
    height: 100%;
  }

  ul {
    display: flex;
    height: 100%;
  }

  img {
    display: block;
    height: 100%;
    width: 100vw;
  }

  .slider-controls {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    width: 100%;
    height: inherit;
  }

  .slider-button {
    display: flex;
    align-items: center;
    color: rgb(152, 192, 202);
    height: 100%;
    width: 5vw;
    font-size: 2em;
    transition: .3s ease-out;
    user-select: none;
    z-index: 1;
    opacity: 0;

    &:hover {
      opacity: 1;
    }
  }

  .next {
    flex-direction: row-reverse;
    padding-right: 1vw;
    transform: translateX(-10px);

    &:hover {
      transform: translateX(0px);
    }
  }

  .prev {
    padding-left: 1vw;
    transform: translateX(10px);

    &:hover {
      transform: translateX(0px);
    }
  }

  .slider-button:hover {
    background-color: rgba(168,168,236,0.15);
    cursor: pointer;
    
  }
}




  
.wrapper {
  display: flex;
  justify-content: space-between;
}